.card-container {
  width: 240px;
  height: 240px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 70px;
  background-color: blue;
  position: relative;
}

.card-image img {
  width: 90px;
  border-radius: 100%;
  position: relative;
  top: 25px;
}

.card-infos span {
  position: relative;
  top: 70px;
} 

.card-infos span h4 {
  color: #4055cb;
  font-weight: lighter;
}

.card-infos span h5 {
  opacity: 0.8;
}
