.title-container {
  width: 100%;
  color: #6278f7;
  display: flex;
  justify-content: center;
  margin: 70px 0px;
}

.title-container h1 {
  position: relative;
}

.title-container h1::after {
  content: '';
  width: 80px;
  height: 3px;
  background-color: #6278f7;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}