.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 1rem;
  background-color: #6278f7;
  color: #f4f4f4;
}

.page-footer .icones {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  gap: 1rem;
  font-size: 1.5rem;
}

.page-footer .text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.page-footer .logo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.page-footer a {
  color: #f4f4f4;
  text-decoration: none;
}